#этот файл главный (в проекте может быть несколько файлов)
root = true

#использовать нижеописанные правила во всех файлах проекта
[*]
#кодировка
charset = utf-8
#кода будет нажиматься tab должны использоваться пробелы, а не символы tab
indent_style = space
#количество пробелов 2
indent_size = 2
#юниксовое окончание (строки?)
end_of_line = lf
#не должно быть пробелов в конце строки
trim_trailing_whitespace = true
#в конце файла обязательно должен быть перенос на новую строку (вставлена пустая строка)
insert_final_newline = true
