.contacts__container {
  padding: 26px 0;

  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 172px 172px;
    justify-content: space-between;
  }
}

.contacts__title {
  font-family: $font-heading;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: $color-black;
}

.contacts__address {
  line-height: 143%;
  color: $color-gray-700;
  text-align: right;
}
