.contacts__title {
  font-family: $font-heading;
  font-size: 16px;
  line-height: 125%;
  text-transform: uppercase;
  color: $color-black;
}

.contacts__address {
  line-height: 143%;
  color: $color-gray-700;
}
