.example {
  background-color: $color-gray-100;
}

.example__container {
  display: grid;
  gap: 40px;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.example__title {
  font-family: $font-heading;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: $color-black;
  text-transform: uppercase;
}

.example__definition {
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  color: $color-gray-700;
}

.example__spending {
  font-family: $font-heading;
  line-height: 143%;
  text-transform: uppercase;
  text-align: center;
  color: $color-black;
}
