.field-group {
  padding: 20px 0;
  border: none;
}

.field-group__list {
  list-style: none;
}

.field-group__title {
  font-family: $font-heading;
  font-size: 24px;
  line-height: 108%;
  color: $color-black;
}

.field-group__list--contacts {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.field-group__list--additional {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}
