.logo {
  &:not(.logo--footer) {
    display: grid;
    grid-template-columns: 34px 1fr;
    align-items: center;
    justify-items: center;
    gap: 16px
  }

  &:link:hover {
    opacity: 0.8;
  }

  &:link:active {
    opacity: 0.6;
  }

  img {
    display: block;
  }
}

.logo--footer {
  display: flex;
  align-items: center;

  @media (max-width: $mobile-width-only) {
    padding: 8px;

    justify-content: center;
  }
}

.logo__sign {
  justify-self: center;
}
