.page-main__header {
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
  }
}

.page-main__title {
  font-family: $font-heading;
  font-weight: 400;
  font-size: 36px;
  line-height: 111%;
  color: $color-black
}

.page-main__subheading {
  font-family: $font-heading;
  text-transform: uppercase;
  color: $color-black;
}
