.page {
  min-width: 320px;
  height: 100%;

  font-family: $font-body;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
}

.page__body {
  min-height: 100%;
  margin: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}
