.page-header__nav {
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.page-header__bar {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.page-header__toggle {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-image: url("../../img/close.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media(max-width: $mobile-width-only) {
    .page-header--closed & {
      background-image: url("../../img/burger.svg");
    }
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__menu {
  margin: 0;
  grid-column: 1 / -1;
  background-color: $color-white;

  @media (max-width: $mobile-width-only) {
    .page-header__nav--closed & {
      position: absolute;
      display: none;
    }

    .page-header__nav--opend & {
      position: absolute;
      left: 0;
      right: 0;
      top: 70px;
      display: block;
    }
  }
}




