.site-menu {
  padding: 0;
  font-family: $font-heading;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  list-style: none;



  @media (min-width:$tablet-width) {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    // white-space: nowrap;
  }
}

.site-menu__item {
  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $color-gray-150;
  }
}

.site-menu__item--active {
  @media (min-width: $tablet-width) {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 4px;
      height: 2px;
      background-color: $color-green;
    }
  }
}

.site-menu__link {
  display: block;
  padding: 22px;
  color: $color-black;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 17px;
  }

  &:link:hover {
    opacity: 0.6;
  }

  &:link:active {
    opacity: 0.3;
  }

  .page-header__nav--main & {
    @media (min-width: $desktop-width) {
      color: $color-white;
    }
  }
}

// .page-header__nav--main .site-menu__link {
//       @media (min-width: $desktop-width) {
//       color: $color-white;
//       }
// }

